/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */

body {
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif
}

img {
  max-width: 90%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 10%;
  border-radius: 5%;
}

.Title {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  margin: 5%;
}

.Author {
  color: #F2F2F2;
  background-color: #8C8C8C;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.Genre {
  color: #8C8C8C;
  background-color: #F2F2F2;
  margin: 2%;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-weight: 100;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%
}

.description {
  background-color: #F2F2F2;
  max-width: 75%;
  padding: 5%;
  color: #484848
}

.voir-plus {}

.buttons {
  display: flex;
  flex-direction: column;
  max-height: 20px;
}